<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Guest</title>
</head>
<body>
    <div class="container">
        <h1>Guest</h1>
        <form action="{% url 'guest' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <input type="file" name="photo" accept="photo/*">  -->
            <input type="submit" value="Enviar">
            {% if form.errors %}
                <p>Erro ao enviar o formulário</p>
            {% endif %}
        </form>
        {% if success %}
            <p>Formulário enviado com sucesso</p>
        {% endif %}
    </div>
</body>
</html>
